// canvas width is now calculated in component
// $canvasWidth: 900px;
// $canvasWidthHalf: $canvasWidth / 2;

.newChallengeButtons {
    text-align: center;
    padding: 2em 0;
	button.newChallengeButton {
	    margin: 0 1em;
	    appearance: none;
	    -webkit-appearance: none;
	    vertical-align: middle;
	    font-family: Oswald,"Arial Narrow", sans-serif;
	    font-size: 18px;
	    padding: 0.3em 0.6em;
	    color: #FFF;
	    background-color: #096;
	    border: none;
	    outline: none;
	    border-radius: 8px;
	}
}

#tree-diagram {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.diagramContain {
	position: relative;
	transform-origin: 50% 0%;
	&.clickMode-group {
		background-color: #eef;
	}
	> canvas {
		position: relative;
		margin: 0 auto;	
	}
	.clickMode-container {
		position:fixed;
		z-index:200;
		top:32px;
		right:0;
		background-color: #ffe;
		padding:12px;
		.clickMode-button {
			border: 2px solid #66f;
			border-radius: 8px;
			padding: 8px;
			background-color: #FFF;
			color: #666;
			cursor: pointer;
			&.clickMode-group-active {
				background-color: #66f;
				color: #fff;
			}
		}
	}
	.diagramIcons {
		// width: $canvasWidth;
		position: absolute;
		top: 0;
		// left: calc(50% - #{$canvasWidthHalf});
		.node-container {
			position: absolute;
			width: 60px;
			height: 60px;
			overflow: visible;
			cursor: pointer;
			transform: translateX(-30px) translateY(-30px);
			-webkit-transform: translateX(-30px) translateY(-30px);
			.flow-icon-shape {
				position: absolute;
				width: 60px;
				height: 60px;
				overflow: visible;
				font-size: 20px;
				overflow: visible;
				font-size: 20px;
				&.flow-icon-shape-intake {
					background-color: #069;
					border-radius: 50%;	
				}
				&.flow-icon-shape-action {
					background-color: #A30;
					border-radius: 50%;	
				}
				&.flow-icon-shape-subchat {
					background-color: #A93;
					border-radius: 15px;
				}
				&.flow-icon-shape-decision:before {
					content: ' ';
					position: absolute;
					left: 0;top: 0; width: 100%; height: 100%;
					background-color: #099;
					border-radius: 25%;	
					transform: rotate(45deg);
				}
				
				.flow-icon {
					position: absolute;
					left: 50%;
					top: 50%;
					color: #ddd;
					transform: translateX(-50%) translateY(-50%);
					-webkit-transform: translateX(-50%) translateY(-50%);
				}
			}
			.icon-label {
				position: absolute;
				width: 180px;
				top: 95%;
				left: 50%;
				transform: translateX(-90px);
				-webkit-transform: translateX(-90px);
				box-sizing: border-box;
				padding: 0.25em 0.5em;
				border-radius: 4px;
				font-family: Oswald, "Arial Narrow", sans-serif;
				font-size: 20px;
				text-align: center;
				background-color: rgba(51,51,51,0.8);
				color: #FFF;
				white-space: nowrap;
				overflow:hidden;
			}
			.node-checkmark {
				position: absolute;
				left:70px;
				top: 1px;
				width: 24px;
				height: 24px;
				background-image: radial-gradient( rgba(255,255,255,1), rgba(255,255,255,0.6) 67%);
				box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.6);
				&:after {
					content: '✓';
					font-size: 36px;
					color: rgba(24,24,48,0.8);
				}
			}
			.node-checkbox-container {
				position: absolute;
				display:block;
				left: 70px;
				top: 1px;
				padding: 4px;
				border-radius:50%;
				//background-color: rgba(60,60,60,0.5);
				background-image: radial-gradient( rgba(255,255,255,1), rgba(255,255,255,0.6) 67%);
				box-shadow: 0px 0px 8px 3px rgba(255,255,255,0.6);
				cursor:pointer;
				z-index:200;
				input {
					width:18px;
					height:18px;
					appearance: none;
					border: 1px solid #888;
					border-radius: 6px;
					outline:none;
					&:checked {
						background-color: rgba(255,220,155,0.8);
						&:after {
							content: '✓';
							position:absolute;
							left:auto;
							top:-2px;
							font-size: 24px;
							color: #009;
						}
					}
				}
			}
		
		}
	}
}
